# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Marco Martin <notmart@gmail.com>
[Desktop Entry]
Name=KeepSecret
Name[ar]=حافظ الأسرار
Name[ca]=KeepSecret
Name[ca@valencia]=KeepSecret
Name[cs]=KeepSecret
Name[de]=KeepSecret
Name[es]=KeepSecret
Name[eu]=KeepSecret
Name[fi]=KeepSecret
Name[fr]=KeepSecret
Name[he]=KeepSecret
Name[ia]=KeepSecret
Name[it]=KeepSecret
Name[ka]=KeepSecret
Name[ko]=KeepSecret
Name[lt]=KeepSecret
Name[nl]=KeepSecret
Name[pl]=KeepSecret
Name[pt_BR]=KeepSecret
Name[sk]=KeepSecret
Name[sl]=KeepSecret
Name[sv]=KeepSecret
Name[tr]=Giz Deposu
Name[uk]=KeepSecret
Name[zh_CN]=KeepSecret 密码管理器
Name[zh_TW]=KeepSecret
GenericName=Password Manager
GenericName[ar]=مُدير كلمات السر
GenericName[ca]=Gestor de contrasenyes
GenericName[ca@valencia]=Gestor de contrasenyes
GenericName[cs]=Správce hesel
GenericName[de]=Passwortverwaltung
GenericName[es]=Gestor de contraseñas
GenericName[eu]=Pasahitz-kudeatzailea
GenericName[fi]=Salasanahallinta
GenericName[fr]=Gestionnaire de mots de passe
GenericName[he]=מנהל סיסמאות
GenericName[ia]=Gerente de Contrasigno
GenericName[it]=Gestore delle password
GenericName[ka]=პაროლების მმართველი
GenericName[ko]=암호 관리자
GenericName[lt]=Slaptažodžių tvarkytuvė
GenericName[nl]=Wachtwoordbeheerder
GenericName[pl]=Zarządzanie hasłami
GenericName[pt_BR]=Gerenciador de senhas
GenericName[sk]=Správca hesiel
GenericName[sl]=Upravljalnik gesel
GenericName[sv]=Lösenordshanterare
GenericName[tr]=Parola Yöneticisi
GenericName[uk]=Менеджер паролів
GenericName[zh_CN]=密码管理器
GenericName[zh_TW]=密碼管理員
Comment=Manage passwords
Comment[ar]=خزّن كلمات سرك وإدارتها
Comment[ca]=Gestiona contrasenyes
Comment[ca@valencia]=Gestiona les contrasenyes
Comment[cs]=Spravujte hesla
Comment[de]=Passwörter verwalten
Comment[es]=Gestión de contraseñas
Comment[eu]=Pasahitzak kudeatu
Comment[fi]=Hallinnoi salasanoja
Comment[fr]=Gérer des mots de passe
Comment[he]=ניהול סיסמאות
Comment[ia]=Gere  contrasignos
Comment[it]=Gestisci le password
Comment[ka]=პაროლების მართვა
Comment[ko]=암호 관리
Comment[lt]=Tvarkyti slaptažodžius
Comment[nl]=Wachtwoorden beheren
Comment[pl]=Zarządzanie hasłami
Comment[pt_BR]=Gerencie senhas
Comment[sk]=Správa hesiel
Comment[sl]=Upravlja gesla
Comment[sv]=Hantera lösenord
Comment[tr]=Parolaları yönetin
Comment[uk]=Керування паролями
Comment[zh_CN]=管理密码
Comment[zh_TW]=管理密碼
Version=1.0
Exec=keepsecret
Icon=org.kde.keepsecret
Type=Application
Terminal=false
Categories=Qt;KDE;System;Utility
SingleMainWindow=true
